<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>vue-resource_CURD</title>
    <!-- 引入 css 库 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.css.map"/>
  </head>
  <body>

    <!-- html- -->

    <div id="app">
      <grid-list :grid-cols="gridCols" :grid-tabledata="gridTabledata" :modal-title="modalTitle"></grid-list>
    </div>


    <!-- Modal框 子组件 -->
    <template id="modalDialog">
      <div class="modal" :class="{ 'is-active': showModal }">
        <div class="modal-background" @click="$emit('close')"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title" v-if="modalTitle">{{ modalTitle }}</p>
            <button class="delete" @click="$emit('close')"></button>
          </header>
          <section class="modal-card-body">
            <!-- Content ... -->
            <form class="form">
              <label for="" class="label">Label</label>
              <a class="button is-success">测试</a>
            </form>
          </section>
          <footer class="modal-card-foot">
            <a class="button is-primary">Save changes</a>
            <a class="button" @click="$emit('close')">Cancel</a>
          </footer>
        </div>
      </div>
    </template>

    <!-- gridList Template -->
    <template id="gridList">
      <div class="box" v-if="gridTabledata">
        <!-- 搜索🔍 -->
          <div class="">
            <label for="" class="label">搜索</label>
            <input class="input" type="text" placeholder="🔍搜索关键字">
          </div>
        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <td v-for="key in gridCols">
                <span  v-if="key.isKey">{{ key.name }}</span>
                <span  v-else>{{ key.name }}</span>
              </td>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td v-for="key in gridCols">
                <span  v-if="key.isKey">{{ key.name }}</span>
                <span  v-else>{{ key.name }}</span>
              </td>
            </tr>
          </tfoot>
          <tbody>
            <tr v-for="item in gridTabledata">
              <td v-for="key in gridCols">
                <span v-if="key.isKey"><a @click="alert('edit')">{{ item[key.name] }}</a></span>
                <span v-else>{{ item[key.name] }}</span>
              </td>
            </tr>
          </tbody>
        </table>

        <!-- 模态框子组件操作 添加 修改 -->
        <a class="button is-primary" @click="show=true">添加成员</a>
        <modal-dialog :modal-title="modalTitle" :show="show" @close="show=false"></modal-dialog>
      </div>
    </template>

    <!-- Vue JS 库  -->
    <script src="https://unpkg.com/vue@2.1.6/dist/vue.js" charset="utf-8"></script>
    <script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
    <script charset="utf-8">

      Vue.component('grid-list', {
        template: '#gridList',
        props: {
          gridCols: {
            type: Array,
          },
          gridTabledata: {
            type: Array
          },
          modalTitle: {
            type: String
          }
        },
        data: function () {
          return {
            show: false
          }
        },
        components: {
          'modal-dialog': {
            template: '#modalDialog',
            props: ['modalTitle', 'show'],
            computed: {
              showModal: function () {
                // alert(this.show)
                return this.show
              }
            }
          }
        },
        methods: {

        }
      })

      var app = new Vue({
        el: '#app',
        data: {
          gridCols: null,
          gridTabledata: null,
          fetchUrl: "http://homestead.app/api/v1/user",

          modalTitle: "默认标题",
        },
        mounted: function () {
          this.fetchUsers()
        },
        methods: {
          fetchUsers: function () {
            var _self = this
            this.$http.get(_self.fetchUrl).then((response) => {
              //success callback
              var data = response.body
              _self.gridTabledata = data.users
              _self.gridCols = data.cols
              console.log(data);
            }, (response) => {
              //error callback
              console.log(response);
            })
          }
        }
      })

    </script>
  </body>
</html>
